h2 {
    margin-top:40px;
    margin-bottom:40px;
}
/* 
初期表示はブログ一覧とするため、
ブログ一覧以外は非表示にする
*/
#blog_display, #display_blog, #blog_create, #blog_edit, #how_to_use{
    display: none;
}

.shortcut {
    width: 30px; /* 要素の横幅を指定 */
    white-space: nowrap; /* 横幅のMAXに達しても改行しない */
    overflow: hidden; /* ハミ出した部分を隠す */
    text-overflow: ellipsis; /* 「…」と省略 */
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

.body_input {
    min-height: 400px;
}

.writer_label {
    color: gray;
}
